@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient( to bottom, #68eacc 0%, #497be8 100%);
}
.cartao{
    max-width: 350px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.cartao .titulo{
    font-size: 22px;
    font-weight: 500;
}
.cartao .conteudo{
    margin-top: 20px;
}
.cartao label.caixa{
    background: #ddd;
    display: flex;
    margin-top: 12px;
    padding: 10px 12px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.25s ease;
}
#um:checked ~ label.primeira,
#dois:checked ~ label.segunda,
#tres:checked ~ label.terceira{
    border-color: #8e49e8;
    background: #d5bbf7;
}
.cartao label.caixa:hover{
    background: #d5bbf7;
}
.cartao label.caixa .curso{
    display: flex;
    width: 100%;
    align-items: center;
}
.cartao label.caixa .circulo{
    height: 22px;
    width: 22px;
    background: #ccc;
    border-radius: 50%;
    margin-right: 15px;
    border: 5px solid transparent;
    display: inline-block;
    transition: all 0.25s ease;
    box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.2);
}
#um:checked ~ label.primeira .circulo,
#dois:checked ~ label.segunda .circulo,
#tres:checked ~ label.terceira .circulo{
    border-color: #8e49e8;
    background: #fff;
}
.cartao input[type="radio"]{
    display: none;
}